@model PV221Chat.DTO.UserDTO
@{
    ViewData["Title"] = "Profile";
}
<div class="container">
    <!-- Left Section with Image -->
    <div class="left-section">
        <!-- Тут есть 'default-avatar.jpg', можно будет сделать просто стандартную аватарку пользователя который ещё её не ставил, или если хотите просто удалите это -->
        <img src="@Model.AvatarUrl ?? 'default-avatar.jpg'" alt="Profile Image" class="image">
    </div>

    <div class="right-section">
        <form method="post" asp-action="Update">
            <input type="hidden" id="userId" name="UserId" value="@Model.UserId" />
            <div>
                <label for="Nickname">Nickname:</label>
                <input type="text" id="Nickname" name="Nickname" value="@Model.Nickname" required />
            </div>
            <div>
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" value="@Model.Email" required />
            </div>
            <div>
                <label for="AvatarUrl">Avatar URL:</label>
                <input type="url" id="AvatarUrl" name="AvatarUrl" value="@Model.AvatarUrl" />
            </div>
            <div>
                <label for="Hobbies">Hobbies:</label>
                <input type="text" id="Hobbies" name="Hobbies" value="@Model.Hobbies" />
            </div>
            <div>
                <label for="Skills">Skills:</label>
                <input type="text" id="Skills" name="Skills" value="@Model.Skills" />
            </div>
            <div>
                <label for="BirthDate">Birth Date:</label>
                <input type="date" id="BirthDate" name="BirthDate"
                       value="@Model.BirthDate?.ToString("yyyy-MM-dd")" />
            </div>
            <!-- Тут ссылка на профиль но она через контроллер Home -->
            <div>
                @* <label for="text "><a href="@Url.Action("Profile", "Profile")" class="btn btn-link">Save Changes</a></label> *@
                <button type="button">Save</button>
            </div>
        </form>
    </div>
</div>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-section {
        flex: 1;
        padding-right: 20px;
    }

    .image {
        max-width: 100%;
        height: auto;
    }

    .right-section {
        flex: 2;
        white-space: pre; <!-- Как я понял, и-за этого поля "отдалены" друг от друга, но зато не друг друга не налазят, пока нормально стилей нет, можно оставить -->
    }

    button:hover {
        background-color: #45a049;
    }
</style >